@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb.eot");
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb.eot")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
    url("../assets/fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../assets/fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: IranSansBold;
  font-style: bold;
  font-weight: bold;
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb_Bold.eot");
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb_Bold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("../assets/fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../assets/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IranSansLight;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb_Light.eot");
  src: url("../assets/fonts/IRANSans/eot/IRANSansWeb_Light.eot")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
    url("../assets/fonts/IRANSans/woff2/IRANSansWeb_Light.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "IranSans", sans-serif !important;
  font-weight: 100;
}
html {
  scroll-behavior: smooth !important;
  font-family: "IranSans", sans-serif !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box !important;
  direction: rtl;
}
body {
  box-sizing: border-box !important;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IranSansBold", sans-serif !important;
}
.err-state {
  box-shadow: 0px 0px 4px 2px rgb(190, 0, 0);
  z-index: 2;
}
.err-state input {
  border: 1px solid red;
}
button:disabled,
button:disabled:hover {
  background-color: #949494;
  color: #fff;
  border-color: #949494;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #4949499c;
  z-index: 996;
}
.main-shadow {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
h2 {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
h3 {
  font-size: 1.17rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
h5 {
  font-size: 0.83rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
h6 {
  font-size: 0.67rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
strong {
  font-weight: bold;
}
p {
  text-align: justify;
}
:root {
  --swiper-theme-color: theme("colors.primary") !important;
}

/* Override tailwind container class */
@media only screen and (max-width: 640px) {
  .container {
    max-width: 90% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}
